<section class="hero-image-section" style="width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; min-height: 70vh; background: url('{{site.baseurl}}/assets/images/dsc04675.webp') center bottom/cover no-repeat fixed;">
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh; background: rgba(0, 0, 0, 0.4);">
        <h1 class="mb-4 text-white fw-bold front-text">The Cantandum Singers</h1>
    </div>
</section>