<section id="programmes" class="py-2">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h2 class="text-center mb-4 fw-bold">Programme Archive</h2>
                {% assign sorted_programmes = site.programme | sort: "date" | reverse %}
                {% assign count = 0 %}
                {% for programme in sorted_programmes %}
                    {% if programme.image %}
                        <div class="col-md-4 mb-4">
                            
                                <div class="card h-100">
                                    {% picture {{ programme.image }} jpt-webp: {{ programme.image }} 16:9 center class="card-img-top img-fluid" style="height: 250px; object-fit: cover; width: 100%;" --alt {{ programme.title }} %}
                                    <div class="card-body">
                                        <a href="{{ programme.url | relative_url }}" class="text-decoration-none text-reset stretched-link"><h2 class="card-title">{{ programme.title }}</h2></a>
                                        {% if programme.date %}
                                            <p class="card-text"><small class="text-muted">{{ programme.date | date: "%B %d, %Y" }}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        {% assign count = count | plus: 1 %}
                        {% if count == 6 %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>