<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sorts+Mill+Goudy:ital@0&display=swap" rel="stylesheet">
</head>
<body>
    {% include header.html %}
    {% include home-image.html %}
    <div class="container-fluid py-5" >
        <div class="container py-2 my-2" style="padding-top: 80px; padding-bottom: 80px;">
            {{ content }}
        </div>
    </div>
    {% include programme-notes-front.html %}
    {% include footer.html %}

<script type="module" src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
</body>
</html>